In [26]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score

In [27]:
df=pd.read_csv("Social_Network_Ads.csv")

In [28]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [29]:
df.shape

(400, 5)

In [30]:
df.size

2000

In [31]:
df.dtypes

User ID             int64
Gender             object
Age                 int64
EstimatedSalary     int64
Purchased           int64
dtype: object

In [32]:
df["Gender"].replace({"Male": 1, "Female": 0}, inplace=True)

In [33]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510       1   19            19000          0
1    15810944       1   35            20000          0
2    15668575       0   26            43000          0
3    15603246       0   27            57000          0
4    15804002       1   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863       0   46            41000          1
396  15706071       1   51            23000          1
397  15654296       0   50            20000          1
398  15755018       1   36            33000          0
399  15594041       0   49            36000          1

[400 rows x 5 columns]

In [34]:
df.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [35]:
x=df[['User ID', 'Gender', 'Age', 'EstimatedSalary']]
y=df[['Purchased']]

In [36]:
print(x)
print(y)

      User ID  Gender  Age  EstimatedSalary
0    15624510       1   19            19000
1    15810944       1   35            20000
2    15668575       0   26            43000
3    15603246       0   27            57000
4    15804002       1   19            76000
..        ...     ...  ...              ...
395  15691863       0   46            41000
396  15706071       1   51            23000
397  15654296       0   50            20000
398  15755018       1   36            33000
399  15594041       0   49            36000

[400 rows x 4 columns]
     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [37]:
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size=.25, random_state= 43)

In [38]:
model=LogisticRegression()

In [39]:
model.fit(x_train, y_train)

/lib/python3.11/site-packages/sklearn/utils/validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [40]:
y_pred=model.predict(x_test)

In [41]:
print(y_pred)

[0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 1 0 0 0 0 1
 1 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 0 0]

In [48]:
con_matrix=confusion_matrix(y_test, y_pred)

In [51]:
print(con_matrix)
print("Accuracy of model : ", accuracy_score(y_test, y_pred)*100)
print("Error Rate of model: ", 100-accuracy_score(y_test, y_pred)*100)
print("Precision of model: ", precision_score(y_test, y_pred, average='macro')*100)
print("Recall of model: ", recall_score(y_test, y_pred, average='macro')*100)

[58  5 24 13]
Accuracy of model :  71.0
Error Rate of model:  29.0
Precision of model:  71.4769647696477
Recall of model:  63.599313599313604